<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Roles" type="DA.DAIE.Common.AppConfigList,Day Ahead Import Export" requirePermission="false" />
    <section name="RscConstExclude" type="DA.DAIE.Common.AppConfigList,Day Ahead Import Export" requirePermission="false" />
    <section name="ReserveZoneSection" type="DA.DAIE.FileUpload.ReserveZoneConfigurationSection,Day Ahead Import Export" requirePermission="false" />
    <sectionGroup name="iBATIS">
      <section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    <add key="LogModuleNameFirst" value="true" />
    <!-- Used in Create RSC Constraints to 
             Find all SPD and SFT constraints from other DA cases
             
         Referenced in 
             RSCConstraintArgs.cs 
             RSCConstraintMap.xml SQLID = Create.SelectRSCConstraintRelatedCases -->
    <add key="RscConstMinValueDaily" value="2" />
    <add key="RscConstMinValueHourly" value="1" />
    <!-- Used in ReserveBO to select HQ and NB for User Mode = RAA -->
    <add key="HQPNODE_TRANS" value="RA_HQ_FixedImport" />
    <add key="NBPNODE_TRANS" value="RA_NB_FixedImport" />
    <add key="HQPNODE_NAME" value=".I.HQ_P1_P2345 5" />
    <add key="NBPNODE_NAME" value=".I.SALBRYNB345 1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Sets General Appearance of the Entire Application 
         Other options you could try include...
             Default
             Office2007Blue
             Office2007Silver
             Office2007Black
             Office2003
             Blend
         -->
    <add key="VisualStyle" value="Office2007Black" />
  </appSettings>
  <Roles>
    <list>
      <!-- Complete List of Roles For Application From Access Rights-->
      <add value="Imp_Exp_User_RAA_SCRA_Read" />
      <add value="Imp_Exp_User_RAA_SCRA_Modify" />
      <add value="Imp_Exp_User_DA_Modify" />
      <add value="Imp_Exp_User_DA_Read" />
      <add value="Imp_Exp_User_ITAdmin" />
    </list>
  </Roles>
  <!-- Used in Create RSC Constraints to Exclude Constraint Names
         excludes names that start with strings seen on this list.
             
         Referenced in 
             RSCConstraintArgs.cs 
             RSCConstraintMap.xml SQLID = Create.SelectRSCConstraintRelatedCases -->
  <RscConstExclude>
    <list>
      <add value="PV20" />
      <add value="WALTHAM" />
      <add value="BAKER_ST" />
    </list>
  </RscConstExclude>
  <!-- Used During GRT File Upload To Update Locational Reserve Requirements 
       Interface and Reserve Zone Names are then used as input for SQLIDs "SelectReserveZoneId" and "SelectInterfaceId"-->
  <ReserveZoneSection>
    <ReserveZoneList>
      <add MDB_shortname="CT" LRR_tag="CONN_LRR" N-1_tag="CONN_N-1" />
      <add MDB_shortname="SWCT" LRR_tag="SWCT_LRR" N-1_tag="SWCT_N-1" />
      <add MDB_shortname="NEMABSTN" LRR_tag="BSTN_LRR" N-1_tag="BSTN_N-1" />
    </ReserveZoneList>
  </ReserveZoneSection>
  <iBATIS>
    <logging>
      <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
        <arg key="configType" value="file-watch" />
        <arg key="configFile" value="log4net.config" />
      </logFactoryAdapter>
    </logging>
  </iBATIS>
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>-->
</configuration>