<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
        <section name="log4net"
           type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net" />
    <"log4net.Config.Log4NetConfigurationSectionHandler, log4net" /-->
  <!--
    </configSections>-->




  <!--
   This simple configuration uses an appender of type log4net.Appender.RollingFileAppender
   and will create log files with the following pattern
   ForecastCapacityAnalysis-Log-yyyy-MM-dd.#

   for example 
     ForecastCapacityAnalysis-Log-2010-03-04.0
     ForecastCapacityAnalysis-Log-2010-03-04.1
     ForecastCapacityAnalysis-Log-2010-03-04.2
     ...
     ForecastCapacityAnalysis-Log-2010-03-04.1000


     New files will be created when
     1) File size exceeds 1MB
     2) The day changes.
     
     Files will be discarded after 1000 files have been created for a given date.

     .................................................................................................................
     -  RollingFileAppender configuration.
     -  Explanation of Individual Parameters 
     -  file                       - sets the base name of the file.
     -  appendToFile = true        - adds new info the the end of the active file.
     -  lockingModel w/MinimalLock - puts minimal locks on the file, allowing it to be shared.
     -  rollingSytle = Composite   - creates or "rolls" new files by size and date.
     -  datePattern = "-yyyy-MM-dd"- creates new files per day with this format.   
     -                               you could also specify hour minute etc... or just month.
     -  maxSizeRollBackups         - how many files should be kept per the current date pattern.
     -                               if this is set lower, older files will be deleted to limit file count per date.
     -  maximumFileSize            - create new files when they grow past this size.
     -  staticLogFileName = false  - keep this False to create multiple files.
     -  countDirection = 1         - positive number means new files will have the highest number.
     -                               IMPORTANT... Keep this a positive number 
     -                                            OR log4net will rename old files as new ones are created.
     -  layout                     - Format applied to each log entry.
                                     
     .................................................................................................................
 -->
  <log4net>

    <appender name="Appender.Default" type="log4net.Appender.RollingFileAppender">
      <file value="..\..\Log\Log" />
      <appendToFile value="true" />
      <lockingModel value="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Composite" />
      <datePattern value="-yyyy-MM-dd" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="false" />
      <countDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%identity] [%t] [%logger ].[%method] %-5p %d{yyyy-MM-dd hh:mm:ss} – %m%n" />
      </layout>
    </appender>

    <appender name="Appender.UseLog"
              type="Log4NetCluAppender.CluAppender, Log4NetCluAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%m" />
      </layout>
      <bufferSize value="128" />
    </appender>

    <appender name="Appender.Error"
          type="Log4NetCluAppender.CluAppender, Log4NetCluAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%m" />
      </layout>
      <bufferSize value="128" />
    </appender>

    <logger name="UseLog" additivity="true">
      <level value="INFO"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>

    <!--<logger name="UseLog.SQL" additivity="false">
      <level value="INFO"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>-->

    <logger name="Error" additivity="true">
      <level value="WARN"></level>
      <appender-ref ref="Appender.Error"></appender-ref>
    </logger>

    <!--  This logger is surpressing connections and transactions from being logged.
          Change Level to INFO if you want to see connections and transactions in clu log. -->
    <logger name="UseLog.SQL.Connection" additivity="false">
      <level value="WARN"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>

    <logger name="UseLog.DataValidation.SQL.Sel" additivity="false">
      <level value="WARN"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>


    <logger name="UseLog.MMMBid.SQL.Upd" additivity="false">
      <level value="WARN"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>

    <logger name="UseLog.MMMBid.SQL.Ins" additivity="false">
      <level value="WARN"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>

    <logger name="UseLog.MMMBid.SQL.Sel" additivity="false">
      <level value="WARN"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>

    <logger name="UseLog.GRTConstraint.SQL.Sel" additivity="false">
      <level value="WARN"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>

    <logger name="UseLog.GRTConstraint.SQL.Ins" additivity="false">
      <level value="WARN"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>

    <logger name="UseLog.GRTLocResReqt.SQL.Sel" additivity="false">
      <level value="WARN"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>

    <logger name="UseLog.LogView.SQL.Sel" additivity="false">
      <level value="WARN"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>

    <logger name="UseLog.Reserve.SQL.Upd" additivity="false">
      <level value="WARN"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>

    <logger name="UseLog.Reserve.SQL.Sel" additivity="false">
      <level value="WARN"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>

    <logger name="UseLog.RSCConstraint.SQL.Sel" additivity="false">
      <level value="WARN"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>

    <logger name="UseLog.RSCConstraint.SQL.Ins" additivity="false">
      <level value="WARN"></level>
      <appender-ref ref="Appender.UseLog"></appender-ref>
    </logger>
    
    <root>
      <level value="INFO" />
      <!--<appender-ref ref="Appender.Default" />-->
    </root>
  </log4net>
</configuration>