<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig
   xmlns="http://ibatis.apache.org/dataMapper"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- The info for DB Connection has been moved to a central location. -->
  <database>
    <provider name="lookup in Connections.xml"/>
    <dataSource name="MDB"
     connectionString="lookup"/>
  </database>

  <sqlMaps>

    <sqlMap resource="Sql\CaseApproveMap.xml"/>
    <sqlMap resource="Sql\CaseListMap.xml"/>
    <sqlMap resource="Sql\CaseMIPMap.xml"/>
    <sqlMap resource="Sql\ConnectionMDBMap.xml"/>
    <sqlMap resource="Sql\COPMap.xml"/>
    <sqlMap resource="Sql\DataValidationMapA.xml"/>
    <sqlMap resource="Sql\DataValidationMapB.xml"/>
    <sqlMap resource="Sql\DataValidationMapC.xml"/>
    <sqlMap resource="Sql\DataValidationMapD.xml"/>
    <sqlMap resource="Sql\DataValidationMapE.xml"/>
    <sqlMap resource="Sql\DRZonalForecastMap.xml"/>
    <sqlMap resource="Sql\EESBridgeMap.xml"/>
    <sqlMap resource="Sql\ExternalTransactionMap.xml"/>
    <sqlMap resource="Sql\GRTConstraintMap.xml"/>
    <sqlMap resource="Sql\GRTReserveMap.xml"/>
    <sqlMap resource="Sql\LoadResponseMap.xml"/>
    <sqlMap resource="Sql\MktCloseHourMap.xml"/>
    <sqlMap resource="Sql\MMMBidMap.xml"/>
    <sqlMap resource="Sql\PICMap.xml"/>
    <sqlMap resource="Sql\ReserveMap.xml"/>
    <sqlMap resource="Sql\RSCConstraintMap.xml"/>
    <sqlMap resource="Sql\RTMitigationMap.xml"/>
    <sqlMap resource="Sql\ZonalDemandMap.xml"/>

  </sqlMaps>

</sqlMapConfig>
